.query-group {
  height: 500px;
  border-radius: 10px;
  border: 1px dashed #ccc;
}
.query-group .title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin: 0 10px;
}
.input-box {
  background: red;
  height: 50px;
}
.select-box {
  background: yellow;
  height: 50px;
}
.button-box {
  background: #ccc;
  height: 50px;
}
